body {
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

iframe {
    width: 100%;
}

main {
    padding: 2rem;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    padding: 10px;
}

footer {
    background-color: #222;
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
}

@media (max-width: 600px) { 
    body {
        background-color: aquamarine;
        color: #333;
        text-align: center;
    }   
}


/*@media (min-width: 1400px) { 
    body {
        background-color: blue;
        color: #333;
        text-align: center;
    }   
}*/

@media (orientation: landscape) { 
    body {
        background-color: blue;
        color: #333;
        text-align: center;
    }   
}