body {
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

header {
    background-color: #4caf50;
    color: white;
    padding: 1rem;
}

main {
    padding: 2rem;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    padding: 10px;
}

footer {
    background-color: #222;
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
}